Repository huang-xiao-jian/remax-vant-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache, prettier --write

.lintstagedrc:

{
  "*.ts": [
    "eslint --cache",
    "prettier --write"
  ],
  "*.{js,css,md,yml}": "prettier --write"
}

fix: resolve directory after migrate
  lib/remant.ts
  package.json
Due: eslint --cache, prettier --write

0.6.0
  package.json
Due: none

refactor: optimize render template
  lib/remant.ts
Due: eslint --cache, prettier --write

chore: 👷 setup jest environment
  .eslintignore
  .eslintrc.yml
  jest.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

refactor: ♻️use handlebars as template engine
  lib/create/index.ts
  lib/create/template/component.hbs
  lib/create/template/index.hbs
  lib/create/template/page.hbs
  lib/remant.ts
Due: eslint --cache, prettier --write

test: ✅cover create command implement
  __tests__/__snapshots__/create.spec.ts.snap
  __tests__/create.spec.ts
Due: eslint --cache, prettier --write

feat: ✨implement create component process
  src/create/index.ts
  src/create/template/component.hbs
  src/create/template/index.hbs
  src/create/template/page.hbs
Due: eslint --cache, prettier --write

feat: ✨implement quick select pages and initial page
  .eslintignore
  src/bootstrap/constant.ts
  src/bootstrap/index.ts
  src/bootstrap/worker.ts
Due: eslint --cache, prettier --write

feat: ✨implement entry point
  src/index.ts
  src/tools/guard.ts
Due: eslint --cache, prettier --write

chore: 🔧modify build, lint, format rules
  .eslintrc.yml
  .prettierrc
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: remove compile files
  lib/create/index.ts
  lib/create/template/component.hbs
  lib/create/template/index.hbs
  lib/create/template/page.hbs
  lib/remant.ts
Due: eslint --cache, prettier --write

test: ✅ snapshot match result without prettier
  __tests__/__snapshots__/create.spec.ts.snap
Due: none

chore: exclude compile files into git
  .gitignore
  package.json
Due: none

fix: 🐛only detect working diectory when use bootstrap command
  src/index.ts
Due: eslint --cache, prettier --write

docs: 📝write bootstrap command usage
  README.md
Due: prettier --write

0.7.0
  package.json
Due: none

feat: 💄hide cursor in interactive mode
  package.json
  src/bootstrap/index.ts
  yarn.lock
Due: eslint --cache, prettier --write

0.7.1
  package.json
Due: none

fix: change output directory to storyboard
  src/create/index.ts
Due: eslint --cache, prettier --write

fix: avoid memory leak problem
  src/bootstrap/index.ts
Due: eslint --cache, prettier --write

chore: expose missing bin
  .gitignore
  bin/remant.js
Due: prettier --write

Notes added by 'git notes add'
  daf9ebacca4653839039cb5628b2eade6972ffd9
Due: none

chore: import semantic-release tool
  .releaserc
  package.json
  yarn.lock
Due: none

Notes added by 'git notes add'
  d47207ab4d3f1e60f7d79043f4089eb462590117
Due: none

chore: weired missing version change commit
  package.json
Due: none

Notes added by 'git notes add'
  96154b45476e2e5622e7bda32a6b3e33fa563698
Due: none

chore: mock semantic-release ci env as local
  .releaserc
Due: none

refactor: ♻️optimize code pipeline
  package.json
  src/bootstrap/index.ts
  src/bootstrap/interface.ts
  src/index.ts
  yarn.lock
Due: eslint --cache, prettier --write

feat: ✨support create command
  src/bootstrap/index.ts
  src/create/index.ts
Due: eslint --cache, prettier --write

chore: 🔨 update structure
  .gitignore
  __tests__/create.spec.ts
  bin/remant.js
  package.json
  src/bin/remant.ts
  src/lib/bootstrap/constant.ts
  src/lib/bootstrap/index.ts
  src/lib/bootstrap/interface.ts
  src/lib/bootstrap/worker.ts
  src/lib/create/index.ts
  src/lib/create/template/component.hbs
  src/lib/create/template/index.hbs
  src/lib/create/template/page.hbs
  src/lib/index.ts
  src/lib/tools/guard.ts
Due: eslint --cache, prettier --write

Notes added by 'git notes add'
  94ba39647640c0f9d6a0e94d391d1d0c28c2154a
Due: none

chore: add semantic-release missing version minor chagne
  package.json
Due: none

docs: 📝 add usage and internal process
  README.md
Due: prettier --write

chore: optimize semantic-release configuration
  .releaserc
  package.json
  yarn.lock
Due: none
